
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

  /* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root{
    --my-border-radius:15px
}
body{
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    width: 100%;
    background-image:linear-gradient(rgba(131, 18, 80, 0),rgba(197, 51, 107, 0)), url('https://png.pngtree.com/thumb_back/fh260/background/20230423/pngtree-1080p-pink-cosmos-flowers-wallpaper-hd-hd-wallpapers-image_2486115.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card{
    font-size: 14px;
    padding: 50px;
    color:black;
    text-align:left;
    margin:auto;
    width: 50% ;
    min-height: 500px;
    background-color: #D80032;
    /* border-radius: 5px; */
}
.card h2,h4{
    text-align: center;
    margin-bottom:0; }


.form{
    text-align: left;
}
h4{
    margin-bottom: 15px;
}
label{
    margin-bottom: 5px;
    display: inline-block;
}

input[type="text"],input[type="email"],input[type="number"]{
    margin-bottom: 10px;
    width:100%;
    padding: 8px;
    font-size: 16px;
    border-radius: var(--my-border-radius);
    border: none;
}

textarea{
    width: 100%;
    height: 50px;
    border-radius: var(--my-border-radius);
    border: none;
    padding: 8px;
}

button{
    width: 100%;
    padding: 8px 0;
    background-color:#65B741;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: var(--my-border-radius);
    margin-top: 10px;
}

input:focus{
    background-color:rgb(97, 116, 97);
}
input:out-of-range{
    color:rgb(97, 116, 97);
}
